.order-summary{
    padding-left: 20px;
    padding-top: 20px;
  }

  .btn-dlt-carts{
    background-color: red;
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .link-procced{
    text-decoration: none;
  }